@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Check out our <a asp-controller="Customer" asp-action="Index">customers</a> page!</p>
</div>
